<div class="tab-pane mx-md-4 my-4" id="members" role="tabpanel" aria-labelledby="members-tab">
  <div class="container-fluid d-flex justify-content-center">
    <input id="memberDisplayFormat" type="checkbox" data-toggle="" data-onstyle="outline-info" data-offstyle="outline-dark" data-on="Table" data-off="Cards" data-size="lg" data-width="103.383px" data-height="47.6px" checked style="width: 103px;">
    <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#viewSettings">
      Change Viewable Data
    </button>
  </div>
  <div class="modal fade" id="viewSettings" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="viewSettingsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="viewSettingsLabel">Data View Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-toggle-div-card modal-toggle-div-table">
            <h5>Display Name: </h5>
            <input class="display-toggle" data-column="0" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <div class="modal-toggle-div-card modal-toggle-div-table">
            <h5>Display Tag: </h5>
            <input class="display-toggle" data-column="1" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <div class="modal-toggle-div-card modal-toggle-div-table">
            <h5>Display Role: </h5>
            <input class="display-toggle" data-column="2" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <div class="modal-toggle-div-card modal-toggle-div-table">
            <h5>Display Tower Level: </h5>
            <input class="display-toggle" data-column="3" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <div class="modal-toggle-div-card modal-toggle-div-table">
            <h5>Display Trophies: </h5>
            <input class="display-toggle" data-column="4" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <!--Table-only toggle-->
          <div class="modal-toggle-div-table">
            <h5>Display Clan Rank: </h5>
            <input class="display-toggle" data-column="5" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <!--Table-only toggle-->
          <div class="modal-toggle-div-table">
            <h5>Display Clan Rank Change: </h5>
            <input class="display-toggle" data-column="6" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <!--Card-only toggle-->
          <div class="modal-toggle-div-card">
            <h5>Display Clan Rank Info: </h5>
            <input class="display-toggle" data-column="5" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <!--Table-only toggle-->
          <div class="modal-toggle-div-table">
            <h5>Display Donations Given: </h5>
            <input class="display-toggle" data-column="7" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <!--Table-only toggle-->
          <div class="modal-toggle-div-table">
            <h5>Display Donations Received: </h5>
            <input class="display-toggle" data-column="8" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <!--Card-only toggle-->
          <div class="modal-toggle-div-card">
            <h5>Display Donation Info: </h5>
            <input class="display-toggle" data-column="7" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
          <div class="modal-toggle-div-card modal-toggle-div-table">
            <h5>Display Last Seen: </h5>
            <input class="display-toggle" data-column="9" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div id="memberTableDiv" class="container-fluid mt-3 px-0 py-2 px-lg-4 mb-5 table-responsive" style="">
    <table id="memberTable" class="table table-bordered table-striped justify-content-center" style="width: 100%;" data-page-length="50">
      <thead>
        <tr class="thead-dark text-center">
          <th>Name</th>
          <th>Tag</th>
          <th>Role</th>
          <th>Tower Level</th>
          <th>Trophies</th>
          <th>Clan Rank</th>
          <th>Clan Rank Change</th>
          <th>Donations Given</th>
          <th>Donations Received</th>
          <th>Last Seen</th>
        </tr>
      </thead>
      <tbody>
        {{#each clanStats.memberList}}
          <tr class="text-center">
            <td class="align-middle"><a href="/players/{{removeFirstCharacter tag}}" class="text-decoration-none">{{name}}</a></td>
            <td class="align-middle"><a href="/players/{{removeFirstCharacter tag}}" class="text-decoration-none">{{tag}}</a></td>
            <td class="align-middle">{{correctCapitalization role}}</td>
            <td class="align-middle">{{expLevel}}</td>
            <td class="align-middle">{{trophies}}</td>
            <td class="align-middle">{{clanRank}}</td>
            <td class="align-middle">{{math clanRank "-" previousClanRank}}</td>
            <td class="align-middle">{{donations}}</td>
            <td class="align-middle">{{donationsReceived}}</td>
            <td class="align-middle" data-order="{{lastSeen}}">{{dateDifference lastSeen 0}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div id="memberCards" class="container-fluid mt-3 d-none">
    <div class="row justify-content-center">
      {{#each clanStats.memberList}}
        <a href="/players/{{removeFirstCharacter tag}}" class="text-decoration-none" style="color: black; margin: 10px;">
          <div class="card hover-card border-primary pl-1" style="width: 21em; background-color: ghostwhite;">
            <div class="row no-gutters">
              <div class="col-3">
                <img src="/images/ladder/{{getLeague trophies}}.png" class="card-img-top pt-4 pb-2" alt="League Badge">
                <div class="card-data-4 text-center mb-1" style="height: 35px;">
                  <img src="/images/ladder/trophy.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Trophies" height="35px;">
                  <p class="card-text d-inline-block align-middle" style="line-height: 35px; font-size: 1.1em;">{{trophies}}</p>
                </div>
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold mb-1 card-data-0">{{name}}</h5>
                  <h6 class="font-weight-light font-italic mb-2 card-data-1">{{tag}}</h6>
                  <div class="mb-1 card-data-2" style="height: 20px;">
                    <img src="/images/misc/person_icon.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Role" alt="Person Icon" height="20px;">
                    <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{correctCapitalization role}}</p>
                  </div>
                  <div class="mb-1 card-data-3" style="height: 20px;">
                    <img src="/images/misc/exp_icon.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Experience" alt="Experience Icon" height="20px;">
                    <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{expLevel}}</p>
                  </div>
                  <div class="mb-1 card-data-5" style="height: 20px;">
                    <img src="/images/misc/star v2.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Clan Rank" alt="Star Icon" height="20px;">
                    <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{clanRank}} [Δ: {{addPlusToNumber (math clanRank "-" previousClanRank)}}]</p>
                  </div>
                  <div class="mb-1 card-data-7">
                    <div class="mb-1 mr-3 d-inline-block" style="height: 20px;">
                      <img src="/images/misc/donations_given.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Donations Given" alt="Donations Given Icon" height="20px;">
                      <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{donations}}</p>
                    </div>
                    <div class="mb-1 ml-3 d-inline-block" style="height: 20px;">
                      <img src="/images/misc/donations_received.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Donations Received" alt="Donations Received Icon" height="20px;">
                      <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{donationsReceived}}</p>
                    </div>
                  </div>
                  <div class="mb-1 card-data-9" style="height: 20px;">
                    <img src="/images/misc/clock v2.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Last Seen" alt="Clock Icon" height="20px;">
                    <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{dateDifference lastSeen 0}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</div>