{{#with clan}}
<a href="#{{../base}}_{{removeFirstCharacter tag}}" class="text-decoration-none" data-toggle="modal" style="color: black; margin: 10px;">
  <div class="card hover-card border-primary" style="width: 21em; background-color: ghostwhite;">
    <div class="row no-gutters">
      <div class="col-4 d-flex align-items-center">
        <img src="{{getClanBadge badgeId clanScore}}" class="card-img-top" alt="Clan Badge">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title font-weight-bold mb-1">{{name}}</h5>
          <h6 class="font-weight-light font-italic {{#if ../rank}}mb-1{{else}}mb-2{{/if}}">{{tag}}</h6>
          {{#if ../rank}}
            <h6 class="font-weight-light font-italic mb-2">Rank: {{../rank}}</h6>
          {{/if}}
          <div class="mb-1" style="height: 30px;">
            <img src="/images/clans/finishFlag.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Finish Time" alt="Checkered Flag" height="30px;">
            {{#if ../startTime}}
              <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{twoDateDifference ../startTime finishTime 1}}</p>
            {{else}}
              {{#if finishTime}}
                <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{dateDifference finishTime 0}} ago</p>
              {{else}}
                <p class="card-text d-inline-block align-middle" style="line-height: 30px;">Not Completed</p>
              {{/if}}
            {{/if}}
          </div>
          <div class="mb-1" style="height: 30px;">
            <img src="/images/clans/fame.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Fame" alt="Fame" height="30px;">
            <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{fame}}</p>
          </div>
          <div class="mb-1" style="height: 30px;">
            <img src="/images/clans/repair.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Repair Points" alt="Repair" height="30px;">
            <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{repairPoints}}</p>
          </div>
          <div class="mb-1" style="height: 30px;">
            <img src="/images/clans/boatBattle.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Boat Attacks" alt="Boat Attacks" height="30px;">
            <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{totalBoatAttacks participants}}</p>
          </div>
          <div class="mb-1" style="height: 30px;">
            <img src="/images/clans/decks_used.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Decks Used" alt="Decks Used" height="30px;">
            <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{totalDecksUsed participants}}</p>
          </div>
          <div class="mb-1" style="height: 30px;">
            <img src="/images/clans/Clan Trophies.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Clan War Trophies" alt="Clan War Trophies" height="30px;">
            {{#if ../trophyChange}}
              <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{clanScore}} [Δ {{addPlusToNumber ../trophyChange}}]</p>
            {{else}}
              <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{clanScore}}</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
<div id="{{../base}}_{{removeFirstCharacter tag}}" class="modal fade" tabindex="-1" aria-labelledby="{{../base}}_{{removeFirstCharacter tag}}_label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <a href="/clans/{{removeFirstCharacter tag}}" id="{{../base}}_{{removeFirstCharacter tag}}_label" class="modal-title font-weight-bold h5 text-decoration-none">{{name}}</a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: aliceblue">
        <div class="row mb-3 justify-content-center">
          <div class="dropdown mx-auto">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort Type
            </button>
            <div class="dropdown-menu">
              <p class="dropdown-item">Name</p>
              <p class="dropdown-item">Tag</p>
              <p class="dropdown-item">Fame</p>
              <p class="dropdown-item">Repair Points</p>
              <p class="dropdown-item">Boat Attacks</p>
              <p class="dropdown-item mb-0">Decks Used</p>
            </div>
          </div>
          <div class="dropdown mx-auto">
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort Order
            </button>
            <div class="dropdown-menu">
              <p class="dropdown-item">Ascending</p>
              <p class="dropdown-item mb-0">Descending</p>
            </div>
          </div>
        </div>
        <div class="sortable">
          {{#each participants}}
            <a href="/players/{{removeFirstCharacter tag}}" class="text-decoration-none" style="color: black;">
              <div class="card border-info mb-1 hover-card" style="background-color: ghostwhite;">
                <div class="card-body">
                  <h5 class="card-title">{{name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{tag}}</h6>
                  <div class="row">
                    <div class="col-3" style="height: 25px;">
                      <img src="/images/clans/fame.png" alt="Fame" height="25px;">
                      <p class="card-text d-inline-block align-middle participant-fame" style="line-height: 25px;">{{fame}}</p>
                    </div>
                    <div class="col-3" style="height: 25px;">
                      <img src="/images/clans/repair.png" alt="Repair Points" height="25px;">
                      <p class="card-text d-inline-block align-middle participant-repair-points" style="line-height: 25px;">{{repairPoints}}</p>
                    </div>
                    <div class="col-3" style="height: 25px;">
                      <img src="/images/clans/boatBattle.png" alt="Boat Attacks" height="25px;">
                      <p class="card-text d-inline-block align-middle participant-boat-attacks" style="line-height: 25px;">{{boatAttacks}}</p>
                    </div>
                    <div class="col-3" style="height: 28px;">
                      <img src="/images/clans/decks_used.png" alt="Decks Used" height="28px;">
                      <p class="card-text d-inline-block align-middle participant-decks-used" style="line-height: 28px;">{{decksUsed}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          {{/each}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{/with}}