<!--This script initializes the Bootstrap tooltips on the page-->
<script defer src="/js/bootstrapTooltips.js"></script>
<!--This script enables the hover functionality on certain cards-->
<script defer src="/js/hoverCard.js"></script>
<!--This script controls the sorting for the participant lists-->
<script defer src="/js/clanWarSort.js"></script>

{{> _clanInfoTabs active="war" tag=tag}}

<hr class="my-0" style="background-color: black; height: 3px; width: 100%;">

{{> _clanInfoWarTabs active="pastWars" tag=tag}}

<div class="tab-content">
  <div class="tab-pane active my-0" id="pastWars" role="tabpanel" aria-labelledby="past-wars-tab">
    <hr class="my-0" style="background-color: black; height: 3px; width: 100%;">
    <!--Tabs within the Past Wars Tab-->
    <ul class="nav nav-pills nav-fill" id="past-wars-tabs" role="tablist">
      {{#each riverRaceLog.items}}
        <li class="nav-item" role="presentation">
          {{#if (compare ../index "===" @index)}}
            <a class="nav-link active" id="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}_tab" data-toggle="tab" href="/clans/{{removeFirstCharacter ../tag}}/war/log/{{math @index "+" 1}}" role="tab" aria-controls="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" aria-selected="true">S{{seasonId}} W{{math sectionIndex "+" 1}}</a>
          {{else}}
            <a class="nav-link" id="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}_tab" data-toggle="" href="/clans/{{removeFirstCharacter ../tag}}/war/log/{{math @index "+" 1}}" role="tab"  aria-selected="false">S{{seasonId}} W{{math sectionIndex "+" 1}}</a>
          {{/if}}
        </li>
      {{/each}}
    </ul>

    <div class="tab-content">
      <div id="rrlog_{{season}}_{{week}}" class="tab-pane active my-4" role="tabpanel" aria-labelledby="rrlog_{{season}}_{{week}}_tab">
        <div class="container-fluid">
          <div class="row justify-content-center">
            {{#each riverRaceLog.items}}
              {{#if (compare ../index "===" @index)}}
                {{#each standings}}
                  {{> _riverRace clan=this.clan base=(concat "rrlog_" ../seasonId "_" (math ../sectionIndex "+" 1)) startTime=../createdDate rank=rank trophyChange=trophyChange clanBadgeJson=../../clanBadgeJson}}
                {{/each}}
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
