<title>Clan Stats | {{clanStats.tag}}</title>

<nav aria-label="breadcrumb" class="justify-content-between d-flex mb-3" style="background-color: #e9ecef; height: 48px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
    <li class="breadcrumb-item"><a href="/clans" style="text-decoration: none;">Clans</a></li>
    <li class="breadcrumb-item active" aria-current="page" id="breadcrumb_tag">{{clanStats.tag}}</li>
  </ol>
  <a href="/clans/{{removeFirstCharacter clanStats.tag}}/data" class="text-decoration-none text-right mx-3 align-middle d-none d-sm-block" style="line-height: 48px;">RAW DATA</a>
</nav>

<ul class="nav nav-tabs nav-fill" id="tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description"
      aria-selected="true">DESCRIPTION</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members"
      aria-selected="false">MEMBERS</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="war-tab" data-toggle="tab" href="#war" role="tab" aria-controls="war"
      aria-selected="false">WAR</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active mx-4 my-4" id="description" role="tabpanel" aria-labelledby="home-tab">
    <div class="card mb-3 border-primary" style="background-color: ghostwhite;">
      <div class="row no-gutters mb-2 align-items-center">
        <div class="col-md-4 col-lg-3 col-xl-2 text-center">
          <img src="{{getClanBadge clanStats.badgeId clanStats.clanWarTrophies}}" class="card-img" alt="Clan Badge" style="max-width: 300px;">
        </div>
        <div class="col-md-8 col-lg-9 col-xl-10">
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">{{clanStats.name}}</h5>
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex my-2 align-self-center" style="">
                  <img src="/images/badges/Tournament.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Clan Score" alt="Clan Score" style="height: 80px;">
                  <p class="mx-2 h3" style="line-height: 80px;">{{clanStats.clanScore}}</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex my-2 align-self-center" style="">
                  <img src="/images/badges/trophy.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Required Trophies" alt="Required Trophies" style="height: 80px;">
                  <p class="mx-2 h3" style="line-height: 80px;">{{clanStats.requiredTrophies}}</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex my-2 align-self-center" style="">
                  <img src="/images/clans/Clan Trophies.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Clan Trophies" alt="Clan Trophies" style="height: 80px;">
                  <p class="mx-2 h3" style="line-height: 80px;">{{clanStats.clanWarTrophies}}</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex my-2 align-self-center" style="">
                  <img src="/images/clans/clans.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Clan Members" alt="Clan Members" style="height: 80px;">
                  <p class="mx-2 h3" style="line-height: 80px;">{{clanStats.members}} / 50</p>
                </div>
                <div class="col-12 col-lg-6 d-flex my-2 align-self-center" style="">
                  <img src="/images/misc/locations.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Location" alt="Location" style="height: 80px;">
                  <p class="mx-2 h5" style="line-height: 80px;">{{clanStats.location.name}}</p>
                </div>
                <div class="col-12 col-lg-6 d-flex my-2 align-self-center" style="">
                  <img src="/images/misc/person_icon.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Clan Type" alt="Clan Type" style="height: 80px;">
                  <p class="mx-2 h5" style="line-height: 80px;">{{correctCapitalization clanStats.type}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">{{clanStats.description}}</small>
      </div>
    </div>
  </div>

  <div class="tab-pane mx-md-4 my-4" id="members" role="tabpanel" aria-labelledby="members-tab">
    <div class="container-fluid d-flex justify-content-center">
      <input id="memberDisplayFormat" type="checkbox" data-toggle="" data-onstyle="outline-info" data-offstyle="outline-dark" data-on="Table" data-off="Cards" data-size="lg" data-width="103.383px" data-height="47.6px" checked style="width: 103px;">
      <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#viewSettings">
        Change Viewable Data
      </button>
    </div>
    <div class="modal fade" id="viewSettings" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="viewSettingsLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold" id="viewSettingsLabel">Data View Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-toggle-div-card modal-toggle-div-table">
              <h5>Display Name: </h5>
              <input class="display-toggle" data-column="0" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <div class="modal-toggle-div-card modal-toggle-div-table">
              <h5>Display Tag: </h5>
              <input class="display-toggle" data-column="1" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <div class="modal-toggle-div-card modal-toggle-div-table">
              <h5>Display Role: </h5>
              <input class="display-toggle" data-column="2" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <div class="modal-toggle-div-card modal-toggle-div-table">
              <h5>Display Tower Level: </h5>
              <input class="display-toggle" data-column="3" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <div class="modal-toggle-div-card modal-toggle-div-table">
              <h5>Display Trophies: </h5>
              <input class="display-toggle" data-column="4" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <!--Table-only toggle-->
            <div class="modal-toggle-div-table">
              <h5>Display Clan Rank: </h5>
              <input class="display-toggle" data-column="5" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <!--Table-only toggle-->
            <div class="modal-toggle-div-table">
              <h5>Display Clan Rank Change: </h5>
              <input class="display-toggle" data-column="6" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <!--Card-only toggle-->
            <div class="modal-toggle-div-card">
              <h5>Display Clan Rank Info: </h5>
              <input class="display-toggle" data-column="5" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <!--Table-only toggle-->
            <div class="modal-toggle-div-table">
              <h5>Display Donations Given: </h5>
              <input class="display-toggle" data-column="7" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <!--Table-only toggle-->
            <div class="modal-toggle-div-table">
              <h5>Display Donations Received: </h5>
              <input class="display-toggle" data-column="8" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <!--Card-only toggle-->
            <div class="modal-toggle-div-card">
              <h5>Display Donation Info: </h5>
              <input class="display-toggle" data-column="7" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
            <div class="modal-toggle-div-card modal-toggle-div-table">
              <h5>Display Last Seen: </h5>
              <input class="display-toggle" data-column="9" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <div id="memberTableDiv" class="container-fluid mt-3 px-0 py-2 px-lg-4 mb-5 table-responsive" style="">
      <table id="memberTable" class="table table-bordered table-striped justify-content-center" style="width: 100%;" data-page-length="50">
        <thead>
          <tr class="thead-dark text-center">
            <th>Name</th>
            <th>Tag</th>
            <th>Role</th>
            <th>Tower Level</th>
            <th>Trophies</th>
            <th>Clan Rank</th>
            <th>Clan Rank Change</th>
            <th>Donations Given</th>
            <th>Donations Received</th>
            <th>Last Seen</th>
          </tr>
        </thead>
        <tbody>
          {{#each clanStats.memberList}}
            <tr class="text-center">
              <td class="align-middle"><a href="/players/{{removeFirstCharacter tag}}" class="text-decoration-none">{{name}}</a></td>
              <td class="align-middle"><a href="/players/{{removeFirstCharacter tag}}" class="text-decoration-none">{{tag}}</a></td>
              <td class="align-middle">{{correctCapitalization role}}</td>
              <td class="align-middle">{{expLevel}}</td>
              <td class="align-middle">{{trophies}}</td>
              <td class="align-middle">{{clanRank}}</td>
              <td class="align-middle">{{math clanRank "-" previousClanRank}}</td>
              <td class="align-middle">{{donations}}</td>
              <td class="align-middle">{{donationsReceived}}</td>
              <td class="align-middle" data-order="{{lastSeen}}">{{dateDifference lastSeen 0}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div id="memberCards" class="container-fluid mt-3 d-none">
      <div class="row justify-content-center">
        {{#each clanStats.memberList}}
          <a href="/players/{{removeFirstCharacter tag}}" class="text-decoration-none" style="color: black; margin: 10px;">
            <div class="card hover-card border-primary pl-1" style="width: 21em; background-color: ghostwhite;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img src="/images/ladder/{{getLeague trophies}}.png" class="card-img-top pt-4 pb-2" alt="League Badge">
                  <div class="card-data-4 text-center mb-1" style="height: 35px;">
                    <img src="/images/ladder/trophy.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Trophies" height="35px;">
                    <p class="card-text d-inline-block align-middle" style="line-height: 35px; font-size: 1.1em;">{{trophies}}</p>
                  </div>
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold mb-1 card-data-0">{{name}}</h5>
                    <h6 class="font-weight-light font-italic mb-2 card-data-1">{{tag}}</h6>
                    <div class="mb-1 card-data-2" style="height: 20px;">
                      <img src="/images/misc/person_icon.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Role" alt="Person Icon" height="20px;">
                      <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{correctCapitalization role}}</p>
                    </div>
                    <div class="mb-1 card-data-3" style="height: 20px;">
                      <img src="/images/misc/exp_icon.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Experience" alt="Experience Icon" height="20px;">
                      <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{expLevel}}</p>
                    </div>
                    <div class="mb-1 card-data-5" style="height: 20px;">
                      <img src="/images/misc/star v2.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Clan Rank" alt="Star Icon" height="20px;">
                      <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{clanRank}} [Δ: {{addPlusToNumber (math clanRank "-" previousClanRank)}}]</p>
                    </div>
                    <div class="mb-1 card-data-7">
                      <div class="mb-1 mr-3 d-inline-block" style="height: 20px;">
                        <img src="/images/misc/donations_given.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Donations Given" alt="Donations Given Icon" height="20px;">
                        <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{donations}}</p>
                      </div>
                      <div class="mb-1 ml-3 d-inline-block" style="height: 20px;">
                        <img src="/images/misc/donations_received.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Donations Received" alt="Donations Received Icon" height="20px;">
                        <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{donationsReceived}}</p>
                      </div>
                    </div>
                    <div class="mb-1 card-data-9" style="height: 20px;">
                      <img src="/images/misc/clock v2.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Last Seen" alt="Clock Icon" height="20px;">
                      <p class="card-text d-inline-block align-middle" style="line-height: 20px;">{{dateDifference lastSeen 0}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="tab-pane mx-1 mx-md-2" id="war" role="tabpanel" aria-labelledby="war-tab">
    <hr class="my-0" style="background-color: black; height: 3px;">
    <!--Tabs within the War Tab-->
    <ul class="nav nav-pills nav-fill" id="war-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="current-war-tab" data-toggle="tab" href="#currentWar" role="tab" aria-controls="currentWar"
          aria-selected="true">CURRENT WAR</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="past-wars-tab" data-toggle="tab" href="#pastWars" role="tab" aria-controls="pastWars"
          aria-selected="false">PAST WARS</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="war-insights-tab" data-toggle="tab" href="#warInsights" role="tab" aria-controls="warInsights"
          aria-selected="false">WAR INSIGHTS</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active my-4" id="currentWar" role="tabpanel" aria-labelledby="current-war-tab">
        <div class="container-fluid">
          <div class="row justify-content-center">
            {{#each currentRiverRace.clans}}
              <a href="#currentRiverRace_{{removeFirstCharacter tag}}" class="text-decoration-none" data-toggle="modal" style="color: black; margin: 10px;">
                <div class="card hover-card border-primary" style="width: 21em; background-color: ghostwhite;">
                  <div class="row no-gutters">
                    <div class="col-4 d-flex align-items-center">
                      <img src="{{getClanBadge badgeId clanScore}}" class="card-img-top card-data-0" alt="Clan Badge">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h5 class="card-title font-weight-bold mb-1 card-data-1">{{name}}</h5>
                        <h6 class="font-weight-light font-italic mb-2 card-data-2">{{tag}}</h6>
                        <div class="mb-1" style="height: 30px;">
                          <img src="/images/clans/finishFlag.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Finish Time" alt="Checkered Flag" height="30px;">
                          <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{dateDifference finishTime 0}} ago</p>
                        </div>
                        <div class="mb-1" style="height: 30px;">
                          <img src="/images/clans/fame.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Fame" alt="Fame" height="30px;">
                          <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{fame}}</p>
                        </div>
                        <div class="mb-1" style="height: 30px;">
                          <img src="/images/clans/repair.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Repair Points" alt="Repair" height="30px;">
                          <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{repairPoints}}</p>
                        </div>
                        <div class="mb-1" style="height: 30px;">
                          <img src="/images/clans/Clan Trophies.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Clan War Trophies" alt="Clan War Trophies" height="30px;">
                          <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{clanScore}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <div id="currentRiverRace_{{removeFirstCharacter tag}}" class="modal fade" tabindex="-1" aria-labelledby="currentRiverRace_{{removeFirstCharacter tag}}_label" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <a href="/clans/{{removeFirstCharacter tag}}" id="currentRiverRace_{{removeFirstCharacter tag}}_label" class="modal-title font-weight-bold h5 text-decoration-none">{{name}}</a>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="background-color: aliceblue">
                      <div class="row mb-3 justify-content-center">
                        <div class="dropdown mx-auto">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort Type
                          </button>
                          <div class="dropdown-menu">
                            <p class="dropdown-item">Name</p>
                            <p class="dropdown-item">Tag</p>
                            <p class="dropdown-item">Fame</p>
                            <p class="dropdown-item">Repair Points</p>
                            <p class="dropdown-item mb-0">Boat Attacks</p>
                          </div>
                        </div>
                        <div class="dropdown mx-auto">
                          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort Order
                          </button>
                          <div class="dropdown-menu">
                            <p class="dropdown-item">Ascending</p>
                            <p class="dropdown-item mb-0">Descending</p>
                          </div>
                        </div>
                      </div>
                      <div class="sortable">
                        {{#each participants}}
                          <a href="/players/{{removeFirstCharacter tag}}" class="text-decoration-none" style="color: black;">
                            <div class="card border-info mb-1 hover-card" style="background-color: ghostwhite;">
                              <div class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{tag}}</h6>
                                <div class="row">
                                  <div class="col-4" style="height: 20px;">
                                    <img src="/images/clans/fame.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Fame" alt="Fame" height="20px;">
                                    <p class="card-text d-inline-block align-middle participant-fame" style="line-height: 20px;">{{fame}}</p>
                                  </div>
                                  <div class="col-4" style="height: 20px;">
                                    <img src="/images/clans/repair.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Repair Points" alt="Repair Points" height="20px;">
                                    <p class="card-text d-inline-block align-middle participant-repair-points" style="line-height: 20px;">{{repairPoints}}</p>
                                  </div>
                                  <div class="col-4" style="height: 20px;">
                                    <img src="/images/clans/boatBattle.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Boat Attacks" alt="Boat Attacks" height="20px;">
                                    <p class="card-text d-inline-block align-middle participant-boat-attacks" style="line-height: 20px;">{{boatAttacks}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        {{/each}}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="tab-pane" id="pastWars" role="tabpanel" aria-labelledby="past-wars-tab">
        <hr class="my-0" style="background-color: black; height: 3px;">
        <!--Tabs within the Past Wars Tab-->
        <ul class="nav nav-pills nav-fill" id="past-wars-tabs" role="tablist">
          {{#each riverRaceLog.items}}
            <li class="nav-item" role="presentation">
              {{#if @first}}
                <a class="nav-link active" id="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}_tab" data-toggle="tab" href="#rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" role="tab" aria-controls="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" aria-selected="true">S{{seasonId}} W{{math sectionIndex "+" 1}}</a>
              {{else}}
                <a class="nav-link" id="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}_tab" data-toggle="tab" href="#rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" role="tab" aria-controls="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" aria-selected="false">S{{seasonId}} W{{math sectionIndex "+" 1}}</a>
              {{/if}}
            </li>
          {{/each}}
        </ul>
        <div class="tab-content">
          {{#each riverRaceLog.items}}
            <div class="tab-pane {{#if @first}}active{{/if}} my-4" id="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" role="tabpanel" aria-labelledby="rrlog-{{seasonId}}-{{math sectionIndex "+" 1}}-tab">
              <div class="container-fluid">
                <div class="row justify-content-center">
                  {{#each standings}}
                    {{#with clan}}
                      <a href="#rrlog_{{../../seasonId}}_{{math ../../sectionIndex "+" 1}}_{{removeFirstCharacter tag}}" class="text-decoration-none" data-toggle="modal" style="color: black; margin: 10px;">
                        <div class="card hover-card border-primary" style="width: 21em; background-color: ghostwhite;">
                          <div class="row no-gutters">
                            <div class="col-4 d-flex align-items-center">
                              <img src="{{getClanBadge badgeId clanScore}}" class="card-img-top card-data-0" alt="Clan Badge">
                            </div>
                            <div class="col-8">
                              <div class="card-body">
                                <h5 class="card-title font-weight-bold mb-1 card-data-1">{{name}}</h5>
                                <h6 class="font-weight-light font-italic mb-1 card-data-2">{{tag}}</h6>
                                <h6 class="font-weight-light font-italic mb-2 card-data-2">Rank: {{../rank}}</h6>
                                <div class="mb-1" style="height: 30px;">
                                  <img src="/images/clans/finishFlag.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Finish Time" alt="Checkered Flag" height="30px;">
                                  <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{twoDateDifference ../../createdDate finishTime 1}}</p>
                                </div>
                                <div class="mb-1" style="height: 30px;">
                                  <img src="/images/clans/fame.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Fame" alt="Fame" height="30px;">
                                  <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{fame}}</p>
                                </div>
                                <div class="mb-1" style="height: 30px;">
                                  <img src="/images/clans/repair.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Repair Points" alt="Repair" height="30px;">
                                  <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{repairPoints}}</p>
                                </div>
                                <div class="mb-1" style="height: 30px;">
                                  <img src="/images/clans/Clan Trophies.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Clan War Trophies" alt="Clan War Trophies" height="30px;">
                                  <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{clanScore}} [Δ {{addPlusToNumber ../trophyChange}}]</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                      <div id="rrlog_{{../../seasonId}}_{{math ../../sectionIndex "+" 1}}_{{removeFirstCharacter tag}}" class="modal fade" tabindex="-1" aria-labelledby="rrlog_{{../../seasonId}}_{{math ../../sectionIndex "+" 1}}_{{removeFirstCharacter tag}}_label" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <a href="/clans/{{removeFirstCharacter tag}}" id="rrlog_{{../../seasonId}}_{{math ../../sectionIndex "+" 1}}_{{removeFirstCharacter tag}}_label" class="modal-title font-weight-bold h5 text-decoration-none">{{name}}</a>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body" style="background-color: aliceblue">
                              <div class="row mb-3 justify-content-center">
                                <div class="dropdown mx-auto">
                                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort Type
                                  </button>
                                  <div class="dropdown-menu">
                                    <p class="dropdown-item">Name</p>
                                    <p class="dropdown-item">Tag</p>
                                    <p class="dropdown-item">Fame</p>
                                    <p class="dropdown-item">Repair Points</p>
                                    <p class="dropdown-item mb-0">Boat Attacks</p>
                                  </div>
                                </div>
                                <div class="dropdown mx-auto">
                                  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort Order
                                  </button>
                                  <div class="dropdown-menu">
                                    <p class="dropdown-item">Ascending</p>
                                    <p class="dropdown-item mb-0">Descending</p>
                                  </div>
                                </div>
                              </div>
                              <div class="sortable">
                                {{#each participants}}
                                  <a href="/players/{{removeFirstCharacter tag}}" class="text-decoration-none" style="color: black;">
                                    <div class="card border-info mb-1 hover-card" style="background-color: ghostwhite;">
                                      <div class="card-body">
                                        <h5 class="card-title">{{name}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{tag}}</h6>
                                        <div class="row">
                                          <div class="col-4" style="height: 20px;">
                                            <img src="/images/clans/fame.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Fame" alt="Fame" height="20px;">
                                            <p class="card-text d-inline-block align-middle participant-fame" style="line-height: 20px;">{{fame}}</p>
                                          </div>
                                          <div class="col-4" style="height: 20px;">
                                            <img src="/images/clans/repair.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Repair Points" alt="Repair Points" height="20px;">
                                            <p class="card-text d-inline-block align-middle participant-repair-points" style="line-height: 20px;">{{repairPoints}}</p>
                                          </div>
                                          <div class="col-4" style="height: 20px;">
                                            <img src="/images/clans/boatBattle.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Boat Attacks" alt="Boat Attacks" height="20px;">
                                            <p class="card-text d-inline-block align-middle participant-boat-attacks" style="line-height: 20px;">{{boatAttacks}}</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </a>
                                {{/each}}
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {{/with}}
                  {{/each}}
                  
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="tab-pane my-4" id="warInsights" role="tabpanel" aria-labelledby="war-insights-tab">
        war insights
      </div>
    </div>

  </div>

</div>

<script>
  $(document).ready(function () {
    let memberTable = $("#memberTable").DataTable({
      // Set options here if necessary
    });
    
    // Set all toggles to "on" upon page load
    $("#memberDisplayFormat").bootstrapToggle("on");
    $(".display-toggle").each(function() {
      $(this).bootstrapToggle("on");
    });

    // Add properties to certain classes
    // Table toggles are initially shown; card toggles are initially hidden
    // Toggles required for both modes are initially on
    $(".modal-toggle-div-card").addClass("d-none my-2 justify-content-between");
    $(".modal-toggle-div-card").css({"height": "34.4px"});
    $(".modal-toggle-div-card h5").addClass("mr-4");
    $(".modal-toggle-div-card h5").css({"line-height": "30.0px"});
    $(".modal-toggle-div-table").addClass("d-flex my-2 justify-content-between");
    $(".modal-toggle-div-table").css({"height": "34.4px"});
    $(".modal-toggle-div-table h5").addClass("mr-4");
    $(".modal-toggle-div-table h5").css({"line-height": "30.0px"});

    // Handles when a modal toggle changes state
    $(function() {
      $(".display-toggle").change(function() {
        let cardClass = ".card-data-" + $(this).attr("data-column");
        if($(this).prop("checked")) {
          $(cardClass).removeClass("d-none").addClass("d-block");
        } else {
          $(cardClass).removeClass("d-block").addClass("d-none");
        }
        let column = memberTable.column($(this).attr("data-column"));
        column.visible(!column.visible());
      });
    });
  });

  // Toggle between table and card view
  $(function() {
    $("#memberDisplayFormat").change(function() {
      if($(this).prop("checked")) {
        $("#memberCards").removeClass("d-block").addClass("d-none");
        $("#memberTableDiv").removeClass("d-none").addClass("d-block");
        $(".modal-toggle-div-card").removeClass("d-flex").addClass("d-none");
        $(".modal-toggle-div-table").removeClass("d-none").addClass("d-flex");
      } else {
        $("#memberCards").removeClass("d-none").addClass("d-block");
        $("#memberTableDiv").removeClass("d-block").addClass("d-none");
        $(".modal-toggle-div-table").removeClass("d-flex").addClass("d-none");
        $(".modal-toggle-div-card").removeClass("d-none").addClass("d-flex");
      }
    });
  });

  // Initialize bootstrap tooltips
  $(function() {
    $('[data-bs-toggle="tooltip"]').tooltip({
      html: true
    });
  });

  // This makes the background of hoverable cards a different color when they are hovered over
  $(".hover-card").mouseover(function() {
    $(this).css("background-color", "#eeeeee");
  });
  $(".hover-card").mouseout(function() {
    $(this).css("background-color", "ghostwhite");
  });
  
  // Dropdown Menu JS (with sorting)
  $(".dropdown-item").on("click", function(e) {
    let selectedText = $(this).text();
    let parentButton = $(this).parent().parent().children("button");
    if (parentButton.text() !== selectedText) {
      parentButton.text(selectedText);
      let parentDropdown = $(this).parent().parent().get(0);
      let dropdowns = $(this).parent().parent().parent().children();
      let sortOrder, sortType;
      dropdowns.each(function(index) {
        if (index === 0) {
          sortType = $(this).children("button").text();
        } else {
          sortOrder = $(this).children("button").text();
        }
      });
      if (!dropdowns.get(0).innerText.includes("Sort Type") && !dropdowns.get(1).innerText.includes("Sort Order")) {
        let toSort = $(this).parent().parent().parent().parent().children(".sortable");
        switch (sortType) {
          case ("Name"): {
            if (sortOrder === "Ascending") {
              toSort.html(toSort.children().sort(function (a, b) {
                return $(a).find(".card-title").text() > $(b).find(".card-title").text();
              }));
            } else {
              toSort.html(toSort.children().sort(function (a, b) {
                return $(a).find(".card-title").text() < $(b).find(".card-title").text();
              }));
            }
            break;
          }
          case ("Tag"): {
            if (sortOrder === "Ascending") {
              toSort.html(toSort.children().sort(function (a, b) {
                return $(a).find(".card-subtitle").text() > $(b).find(".card-subtitle").text();
              }));
            } else {
              toSort.html(toSort.children().sort(function (a, b) {
                return $(a).find(".card-subtitle").text() < $(b).find(".card-subtitle").text();
              }));
            }
            break;
          }
          case ("Fame"): {
            toSort.html(toSort.children().sort(function (a, b) {
              let num1 = parseInt($(a).find(".participant-fame").text());
              let num2 = parseInt($(b).find(".participant-fame").text());
              return numberComparator(num1, num2, sortOrder);
            }));
            break;
          }
          case ("Repair Points"): {
            toSort.html(toSort.children().sort(function (a, b) {
              let num1 = parseInt($(a).find(".participant-repair-points").text());
              let num2 = parseInt($(b).find(".participant-repair-points").text());
              return numberComparator(num1, num2, sortOrder);
            }));
            break;
          }
          case ("Boat Attacks"): {
            toSort.html(toSort.children().sort(function (a, b) {
              let num1 = parseInt($(a).find(".participant-boat-attacks").text());
              let num2 = parseInt($(b).find(".participant-boat-attacks").text());
              return numberComparator(num1, num2, sortOrder);
            }));
            break;
          }
        }
        // Moving cards around destroys the event listeners associated with them
        // To counteract this, I need to add the event listeners again after the cards have been sorted
        $(".hover-card").mouseover(function() {
          $(this).css("background-color", "#eeeeee");
        });
        $(".hover-card").mouseout(function() {
          $(this).css("background-color", "ghostwhite");
        });
      }
    }
  });

  // Useful helper functions
  function numberComparator(num1, num2, sortOrder) {
    if (num1 < num2) {
      return (sortOrder === "Ascending") ? -1 : 1;
    } else if (num1 > num2) {
      return (sortOrder === "Ascending") ? 1 : -1;
    } else {
      return 0;
    }
  }
</script>


