<title>Clan Stats | {{clanStats.tag}}</title>

<!--This script initializes the Bootstrap tooltips on the page-->
<script defer src="/js/bootstrapTooltips.js"></script>
<!--This script enables the hover functionality on certain cards-->
<script defer src="/js/hoverCard.js"></script>
<!--This script controls the functionality on the members tab-->
<script defer src="/js/clanInfoMembers.js"></script>
<!--This script controls the sorting for the participant lists-->
<script defer src="/js/clanWarSort.js"></script>
<!--This script is for Apex Charts, a framework I used to draw the charts under War Insights-->
<script defer src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!--This script is for the JS code I used to create the charts-->
<script defer src="/js/clanWarInsights.js"></script>
<!--The next three links are for DataTables, a JQuery plug-in-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
<script defer src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<!--The next two lines are for a plugin that converts checkboxes into toggles-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">
<script defer src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

{{> _breadcrumbPath path=path rawData=(concat "/clans/" (removeFirstCharacter tag) "/data")}}

<ul class="nav nav-tabs nav-fill" id="tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description"
      aria-selected="true">DESCRIPTION</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members"
      aria-selected="false">MEMBERS</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="war-tab" data-toggle="tab" href="#war" role="tab" aria-controls="war"
      aria-selected="false">WAR</a>
  </li>
</ul>

<div class="tab-content">
  <!--This is for the clan description-->
  {{>_clanInfoDescription clanStats=clanStats}}

  <!--This is for the clan members-->
  {{>_clanInfoMembers clanStats=clanStats}}

  <div class="tab-pane mx-1 mx-md-2" id="war" role="tabpanel" aria-labelledby="war-tab">
    <hr class="my-0" style="background-color: black; height: 3px;">
    <!--Tabs within the War Tab-->
    <ul class="nav nav-pills nav-fill" id="war-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="current-war-tab" data-toggle="tab" href="#currentWar" role="tab" aria-controls="currentWar"
          aria-selected="true">CURRENT WAR</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="past-wars-tab" data-toggle="tab" href="#pastWars" role="tab" aria-controls="pastWars"
          aria-selected="false">PAST WARS</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="war-insights-tab" data-toggle="tab" href="#warInsights" role="tab" aria-controls="warInsights"
          aria-selected="false">WAR INSIGHTS</a>
      </li>
    </ul>

    <div class="tab-content">
      <!--This is for the current river race-->
      {{> _clanInfoWarRace currentRiverRace=currentRiverRace}}
      
      <div class="tab-pane" id="pastWars" role="tabpanel" aria-labelledby="past-wars-tab">
        <hr class="my-0" style="background-color: black; height: 3px;">
        <!--Tabs within the Past Wars Tab-->
        <ul class="nav nav-pills nav-fill" id="past-wars-tabs" role="tablist">
          {{#each riverRaceLog.items}}
            <li class="nav-item" role="presentation">
              {{#if @first}}
                <a class="nav-link active" id="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}_tab" data-toggle="tab" href="#rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" role="tab" aria-controls="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" aria-selected="true">S{{seasonId}} W{{math sectionIndex "+" 1}}</a>
              {{else}}
                <a class="nav-link" id="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}_tab" data-toggle="tab" href="#rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" role="tab" aria-controls="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" aria-selected="false">S{{seasonId}} W{{math sectionIndex "+" 1}}</a>
              {{/if}}
            </li>
          {{/each}}
        </ul>
        <div class="tab-content">
          {{#each riverRaceLog.items}}
            <div class="tab-pane {{#if @first}}active{{/if}} my-4" id="rrlog_{{seasonId}}_{{math sectionIndex "+" 1}}" role="tabpanel" aria-labelledby="rrlog-{{seasonId}}-{{math sectionIndex "+" 1}}-tab">
              <div class="container-fluid">
                <div class="row justify-content-center">
                  {{#each standings}}
                    {{> _riverRace clan=this.clan base=(concat "rrlog_" ../seasonId "_" (math ../sectionIndex "+" 1)) startTime=../createdDate rank=rank trophyChange=trophyChange clanBadgeJson=../../clanBadgeJson}}
                  {{/each}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

      <!--This for the war insights-->
      {{> _clanInfoWarInsights tag=clanStats.tag riverRaceLog=riverRaceLog}}
    </div>
  </div>
</div>


