<!--This is for the hover functionality on the clan cards-->
<script defer src="/js/hoverCard.js"></script>
<!--The next three links are for DataTables, a JQuery plug-in-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
<script defer src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<!--The next two lines are for a plugin that converts checkboxes into toggles-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">
<script defer src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<!--This is a script used to create the two select dropdowns-->
<script defer src="/js/amagidropdown.js"></script>
<!--This script contains the page-specific JS needed to run the page-->
<script defer src="/js/leaderboardClans.js"></script>
<!--This script adds keyboard functionality to the 'Change Viewable Data' modal-->
<script defer src="/js/keyboardToggle.js"></script>

<!--This is so that the JS knows whether this is a clan or clan wars leaderboard-->
<span id="leaderboardType" class="d-none">{{leaderboardType}}</span>
{{#if errors}}
  <div class="mt-4">
    {{#each errors}}
      <div class="alert alert-danger mx-4 text-center">{{this}}</div>
    {{/each}}
  </div>
  <div class="row no-gutters mt-3">
    <div class="col-12 col-md-6 px-1 px-sm-2 mb-4">
      <label class="h5 mx-md-2" for="regionSelect">Change Region</label>
      <select id="regionSelect">
        <option value="GLOBAL">Global</option>
        {{#each locations.items}}
          {{#if isCountry}}
            <option value="{{countryCode}}">{{name}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
  </div>
{{else}}
  <div class="row no-gutters mt-3">
    <div class="col-12 col-md-6 px-1 px-sm-2 mb-4">
      <label class="h5 mx-md-2" for="regionSelect">Change Region</label>
      <select id="regionSelect">
        <option value="GLOBAL">Global</option>
        <option value="_INTL">International</option>
        <option value="_AFR">Africa</option>
        <option value="_ASIA">Asia</option>
        <option value="_EUR">Europe</option>
        <option value="_NA">North America</option>
        <option value="_OCEA">Oceania</option>
        <option value="_SA">South America</option>
        {{#each locations.items}}
          {{#if isCountry}}
            <option value="{{countryCode}}">{{name}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center mt-2">
    <input id="leaderboardDisplayFormat" style="mx-auto" type="checkbox" data-toggle="toggle" data-onstyle="outline-info" data-offstyle="outline-dark" data-on="Table" data-off="Cards" data-size="lg">
    <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#viewSettings">
      Change Viewable Data
    </button>
  </div>

  <!--This is for the modal that lets the user select what info they want visible-->
  <div class="modal fade" id="viewSettings" data-keyboard="false" tabindex="-1" aria-labelledby="viewSettingsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="viewSettingsLabel">Data View Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-toggle-div">
            <h5>Display Rank: </h5>
            <div class="toggle-keyboard-div" tabindex="0">
              <input class="display-toggle" data-column="0" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
          </div>
          <div class="modal-toggle-div">
            <h5>Display Badge: </h5>
            <div class="toggle-keyboard-div" tabindex="0">
              <input class="display-toggle" data-column="1" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
          </div>
          <div class="modal-toggle-div">
            <h5>Display Name: </h5>
            <div class="toggle-keyboard-div" tabindex="0">
              <input class="display-toggle" data-column="2" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
          </div>
          <div class="modal-toggle-div">
            {{#if (compare leaderboardType "===" "clans")}}
              <h5>Display Clan Score: </h5>
            {{else}}
              <h5>Display Clan War Trophies: </h5>
            {{/if}}
            <div class="toggle-keyboard-div" tabindex="0">
              <input class="display-toggle" data-column="3" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
          </div>
          <div class="modal-toggle-div">
            <h5>Display Members: </h5>
            <div class="toggle-keyboard-div" tabindex="0">
              <input class="display-toggle" data-column="4" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
          </div>
          <div class="modal-toggle-div">
            <h5>Display Location: </h5>
            <div class="toggle-keyboard-div" tabindex="0">
              <input class="display-toggle" data-column="5" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>
          </div>
          {{#if leaderboard.items.0.previousRank}}
            <div class="modal-toggle-div">
              <h5>Display Rank Change </h5>
              <div class="toggle-keyboard-div" tabindex="0">
                <input class="display-toggle" data-column="6" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
              </div>
            </div>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

  <div id="tableDiv" class="container-fluid mt-3 px-0 py-2 px-lg-4 mb-5 table-responsive" style="">
    <table id="table" class="table table-bordered table-striped justify-content-center table-sm" style="width: 100%;" data-page-length="50">
      <thead>
        <tr class="thead-dark text-center">
          <th class="py-3">Rank</th>
          <th class="py-3">Badge</th>
          <th class="py-3">Name</th>
          {{#if (compare leaderboardType "===" "clans")}}
            <th class="py-3">Clan Score</th>
          {{else}}
            <th class="py-3">Clan War Trophies</th>
          {{/if}}
          <th class="py-3">Members</th>
          <th class="py-3">Location</th>
          {{#if leaderboard.items.0.previousRank}}
            <th class="py-3">Rank Change</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each leaderboard.items}}
          {{#if (compare @index "<" ../resultsDisplayed)}}
            <tr class="text-center">
              <td class="align-middle">{{rank}}</td>
              {{#if (compare ../leaderboardType "===" "clans")}}
                {{!--If the leaderboard is for clans, then 'clanScore' is for Clan Score so the exact clan badge can't be determined--}}
                <td class="align-middle"><img src="https://royaleapi.github.io/cr-api-assets/badges/{{getClanBadgeNameFromId badgeId ../clanBadgeJson}}.png" alt="Clan Badge" width="50px;" loading="lazy"></td>
              {{else}}
                {{!--If the leaderboard is for clanwars, then 'clanScore' is for War Trophies so the exact clan badge can be found--}}
                <td class="align-middle"><img src="{{getClanBadge badgeId clanScore ../clanBadgeJson}}" alt="Clan Badge" width="50px;" loading="lazy"></td>
              {{/if}}
              <td class="align-middle"><a href="/clans/{{removeFirstCharacter tag}}" class="text-decoration-none">{{name}}</a></td>
              <td class="align-middle">{{clanScore}}</td>
              <td class="align-middle">{{members}} / 50</td>
              <td class="align-middle">{{location.name}}</td>
              {{#if previousRank}}
                <td class="align-middle rank-change">{{addPlusToNumber (math rank "-" previousRank)}}</td>
              {{/if}}
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>

  <div id="cards" class="container-fluid my-3 d-none">
    <div class="row justify-content-center">
      {{#each leaderboard.items}}
        {{#if (compare @index "<" ../resultsDisplayed)}}
          <a href="/clans/{{removeFirstCharacter tag}}" class="text-decoration-none" style="color: black; margin: 10px;">
            <div class="card hover-card border-primary" style="width: 22em; background-color: ghostwhite; height: 100%;">
              <div class="row no-gutters">
                <p class="font-weight-light card-data-0" style="position: absolute; right: 3px; top: 0px;">#{{rank}}</p>
                <div class="col-3 d-flex align-items-center card-data-1 pl-2">
                  {{#if (compare ../leaderboardType "===" "clans")}}
                    <img src="https://royaleapi.github.io/cr-api-assets/badges/{{getClanBadgeNameFromId badgeId ../clanBadgeJson}}.png" class="card-img-top" alt="Clan Badge" loading="lazy">
                  {{else}}
                    <img src="{{getClanBadge badgeId clanScore ../clanBadgeJson}}" class="card-img-top" alt="Clan Badge" loading="lazy">
                  {{/if}}
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold mb-1 card-data-2">{{name}}</h5>
                    <h6 class="font-weight-light font-italic mb-2 card-data-2">{{tag}}</h6>
                    <div class="row">
                      <div class="col-6 mb-2 card-data-3" style="height: 30px;">
                        {{#if (compare ../leaderboardType "===" "clans")}}
                          <img src="/images/badges/webp/Tournament.webp" alt="Clan Score" height="30px;">
                        {{else}}
                          <img src="/images/clans/webp/Clan Trophies.webp" alt="Clan War Trophies" height="30px;">
                        {{/if}}
                        <p class="card-text d-inline-block align-middle" style="line-height: 30px;">{{clanScore}}</p>
                      </div>
                      <div class="col-6 mb-2 card-data-4" style="height: 30px;">
                        <img src="/images/clans/webp/clans.webp" height="30px;">
                        <p class="card-text d-inline-block align-middle ml-1" style="line-height: 30px;">{{members}} / 50</p>
                      </div>
                      <div class="col-12 mb-1 card-data-5 d-flex align-items-center" style="height: 30px;">
                        <img src="{{flagUrl location.countryCode}}" alt="{{location.name}} flag" height="30px;">
                        <p class="card-text pl-2" style="font-size: 0.8em;">{{location.name}}</p>
                      </div>
                      {{#if previousRank}}
                        <div class="d-flex card-data-6 text-center col-6" style="height: 30px;">
                          {{#if (compare (math previousRank "-" rank) ">" 0)}}
                            {{!-- Clan went up in the rankings --}}
                            <i class="bi bi-caret-up-fill" style="font-size: 30px; line-height: 30px; color: #28a745;"></i>
                            <h5 class="d-inline-block align-middle ml-2 font-weight-light" style="line-height: 30px;">{{math previousRank "-" rank}}</h5>
                          {{else if (compare (math previousRank "-" rank) "<" 0)}}
                            {{!-- Clan went down in the rankings --}}
                            <i class="bi bi-caret-down-fill" style="font-size: 30px; line-height: 30px; color: #dc3545"></i>
                            <h5 class="d-inline-block align-middle ml-2 font-weight-light" style="line-height: 30px;">{{math rank "-" previousRank}}</h5>
                          {{else}}
                            {{!-- Clan stayed the same in the rankings --}}
                            <i class="bi bi-caret-right-fill" style="font-size: 30px; line-height: 30px; color: #6c757d;"></i>
                            <h5 class="d-inline-block align-middle ml-2 font-weight-light" style="line-height: 30px;">0</h5>
                          {{/if}}
                        </div>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/if}}